<div class="gridList" ng-if="!(videos() | isEmpty)">
  <md-grid-list md-cols-sm="1"
                md-cols-md="2"
                md-cols-gt-md="6"
                md-row-height-gt-md="1:1"
                md-row-height="2:2"
                md-gutter="12px"
                md-gutter-gt-sm="8px" ng-repeat="item in videos() track by $index">

    <md-grid-tile ng-click="play(item)" class="red" md-rowspan="2" md-colspan="2" md-colspan-sm="1">
      <img ng-src="{{ item.thumbnail }}" class="md-avatar" alt="{{ item.title }}"/>
      <md-grid-tile-footer>
      <p>{{ item.title }}</p>
      </md-grid-tile-footer>
    </md-grid-tile>

  </md-grid-list>
</div>

<no-video></no-video>